<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Actualizar persona</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<h1>Editar Persona</h1>

	<div class="container">
		<h1>Editar Persona</h1>

		<form th:action="@{/personas/guardar}" method="post">
		<input type="hidden" name="id" th:value="${persona.id}">

			<div class="mb-3">
				<label for="formGroupExampleInput" class="form-label">Nombre
				</label> <input type="text" class="form-control" id="formGroupExampleInput"
					name="nombre" th:value="${persona.nombre}">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Apellido
				</label> <input type="text" class="form-control" id="formGroupExampleInput2"
					name="apellido" th:value="${persona.apellido}">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput3" class="form-label">Telefono
				</label> <input type="text" class="form-control" id="formGroupExampleInput2"
					name="telefono" th:value="${persona.telefono}">
			</div>

			<button type="submit" class="btn btn-success">Actualizar</button>
		</form>
	</div>
</body>
</html>